<!DOCTYPE html>
<html>
    <head>
        <title>Login page</title>
        <link rel="stylesheet" href="static/style.css"/>
    </head>
    <body>
        <div class="box">
        <form action="/index" method="POST" name="login">
            <h1>Login</h1>
            <div>
                <h4>Username:</h4>
                <input type="text" id="login" name ="user" value ="{{user}}"/>
            </div>
            <div>
                <h4>Password:</h4>
                <input type="text" id="login" name ="pass" value ="{{pass}}"/>
            </div>
            <div class="button">
                <button type="submit" value="Submit">Submit</button>
            </div>
        </div>
        </form>
    </body>
</html>